@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Courgette');

body {
    background-color: lightgray;
    color: white;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

//Variables
$main-color: #0f2a54;
$main-color-light: #2b508c;
@mixin fixed-button() {
    position: absolute;
    top: 0;
    left: 0;
}
@mixin add-button() {
    background-color: $main-color;
    color: white;
    font-size: 20px;
    border: none;
    transition: 0.3s;
    &:hover {
        background-color: $main-color-light;
        cursor: pointer;
    }
}
//Styles for a single board and two button: create new board and create new column
.board {
    text-align: center;
    background-image: url("https://images.pexels.com/photos/625219/pexels-photo-625219.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    background-size: cover;
    padding: 10px;
    margin: 10px;
    position: relative;
    h1 {
        letter-spacing: 2px;
        font-size: 50px;
        font-family: 'Vollkorn SC', serif;
        margin: 10px;
    }
}
.create-column,
.create-board {
    @include add-button();
    padding: 10px 20px;
    margin-bottom: 20px;
}
//Styles for a single column and column container
.column-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.column {
    text-align: center;
    background-color: $main-color;
    width: 300px;
    min-height: 500px;
    margin: 10px;
    position: relative;
    &:hover {
        -webkit-box-shadow: 0px 0px 21px 4px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 21px 4px rgba(255,255,255,1);
        box-shadow: 0px 0px 21px 4px rgba(255,255,255,1);
    }
    input {
        height: 23px;
        margin-bottom: 0;
    }
    .btn {
        height: 37px;
    }
}
//Styles for column: title, button delete a card and button add a card
.column-title {
    background-color: $main-color-light;
    margin-top: 0;
    padding: 5px;
}
.add-card {
    @include add-button();
    padding: 5px 10px;
    margin: 0 5px;
    border: 2px solid $main-color-light;
    &:hover {
        background-color: $main-color-light;
    }
}
.btn-delete,
.btn-delete-board {
    @include fixed-button(); 
    background-color: $main-color-light;
    border: none;
    padding: 7px 14px;
    color: white;
    font-size: 20px;
    &:hover {
        font-size: 24px;
        padding: 4px 12px;
        cursor: pointer;
    }
}
.btn-delete-board {
    background-color: transparent; 
}
//Styles for a single card
.column-card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 100px;
}
.card {
    background: lightgray;
    margin: 10px;
    position: relative;
    text-align: left;
    padding-left: 40px;
    color: $main-color;
    transition: background-color 0.3s; 
    &:hover {
        background-color: white;
    }
    .btn-delete-card {
        @include fixed-button();
        background-color: lightgray;
        font-size: 15px;
        color: $main-color;
        &:hover {
            background-color: white;
        }
    }
    .card-description {
        display: inline-block;
        font-family: 'Courgette', cursive;
    }
}
.card-placeholder {
    background: $main-color;
    border: 2px dotted lightgray;
    margin: 10px;
    height: 48px;
}
//style dla pola input oraz przycisków accept i delete
.board-form,
.column-form,
.card-form {
    display: none;
}
input {
    height: 29px;
    padding: 5px;
    margin-bottom: 20px;
}
.btn {
    height: 43px;
    width: 43px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover {
        cursor: pointer;
    }
}
.accept-button {
    background-color: #0e590b;
    &:hover {
        background-color: #189613;
    }
}
.delete-button {
    background-color: #ba1f0b;
    &:hover {
        background-color: #e5260d;
    }
}
.board-alert,
.column-alert {
    color: #ba1f0b;
    display: inline;
    margin-left: 10px;
}
.column-alert {
    color: white;
}